body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container {
  height: 600px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid red;
}

.title {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: grey;
}

.main {
  height: 600px;
  width: 100%;
  background-color: aqua;
  display: flex;
  }

.scoreboard {
  width: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.scoreboard h2 {
  font-size: 20px;
  color: black;
  display: flex;
  align-self: center;
}

.screen {
  width: 800px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
