body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container {
  height: 600px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid red;
}

.title {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: grey;
}

.main {
  height: 600px;
  width: 100%;
  background-color: aqua;
  display: flex;
  }

.scoreboard {
  width: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

#lama-score {
  color: red;
  font-size: 30px;
  margin-top: 5px;
}

#distance-left-to-stuggi {
  color: red;
  font-size: 30px;
  margin-top: 5px;
}

.scoreboard h2 {
  font-size: 20px;
  color: black;
  display: flex;
  align-self: center;
}

.screen {
  width: 800px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;

}

.start-screen-container {
  width: 700px;
  height: 519px;
  position: absolute;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-screen-frame {
  background-color: white;
  padding: 30px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-screen-title {
  color: red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3em;
  margin: 20px 0;
}

.start-screen-description {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  text-align: center;
  font-size: 20px;
  margin: 10px;
}

.start-button {
  margin-top: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5em;
}

#restart-button {
  position: absolute;
  margin-top: 50px;
}